
/* reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  /*
    credits to Josh Comeau for this mordern reset.
  */

/*
* Variables
*/

/*
  variables
*/
:root
{
    /* FONTS */
    --ff-sans: 'Spline Sans', sans-serif;
    --ff-accent: 'Libre Caslon Text', serif;
    --ff-regular: 'poppins', sans-serif;
    /* small screen font-sizes */
    --fs-200: 0.5rem;
    --fs-300: 0.9rem;
    --fs-400: 1.1rem;
    --fs-500: 1.3rem;
    --fs-600: 1.5rem;
    --fs-700: 1.8rem;
    --fs-800: 2rem;
    --fs-900: 2.5rem;

  
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;


    --clr-100: #ffffef;
    --clr-300: #e4e4e4;
    --clr-500: #949494;
    --clr-900: #080d0e;
    --clr-env: #222324;

    --clr-accent: #00bbf9;

    --br: 1rem;
    --flow-space: 3rem;
}
@media (min-width: 40em) 
{
    :root 
    {
      --fs-200: 0.8rem;
      --fs-300: 1rem;
      --fs-400: 1.125rem;
      --fs-500: 1.5rem;
      --fs-600: 1.7rem;
      --fs-700: 2.1rem;
      --fs-800: 2.6rem;
      --fs-900: 3.5rem;
    }
}

/*
* utility
*/

.split
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.three
{
  position: absolute;
  display: block;
  z-index: 100;
  width: 100%;
}

.spacing
{
  height: 100vh;
}

.flow-content *+*
{
  margin-top: 1rem;
}

.underscore
{
  border-bottom: 2px solid #00adff;
}

.hidden
{
  display: none;
}

.visible
{
  display: block;
}

.text-center
{
  text-align: center;
}

.three
{
  position: absolute;
  display: block;
  z-index: 100;
  width: 100%;
}

.bg-accent
{
    background-color: var(--clr-accent);
}

.bg-light
{
    background-color: var(--clr-100);
}

/*
* global
*/

html,
body
{
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: var(--ff-regular);
    font-size: var(--fs-400);
    background-color: var(--clr-env);
}

section
{
    padding: 1rem;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/*
* targeted
*/

/* introduction */

.introduction
{
    font-family: var(--ff-accent);
    flex-direction: column;
}

.introduction__title
{
    font-size: var(--fs-800)
}

.introduction__subtitle
{
    font-weight: var(--fw-500);
    font-size: var(--fs-500);
}

/* about */

.about 
{
    flex-direction: column;
    gap: 1.5rem;
}

.about__img
{
    max-width: 25rem;
}

.about__info
{
    max-width: 55ch;
}

.about__img
{
    max-width: 18rem;
}

@media (min-width: 35rem) 
{
  .about__img
  {
    max-width: 25rem;
  }  
}

@media (min-width: 60rem) 
{
    .about
    {
        flex-direction: row;
    }

    .about__img
    {
        max-width: 28rem;
    }
}

/* PROJECTS */

.projects
{
    flex-direction: column;
    gap: 2rem;
}

.projects__information-img
{
    max-width: 18rem;
}

.projects__information-ul
{
  padding: 0;
  list-style-type: none;
}

.projects__carousel-menu
{
    margin-top: 1rem;
    justify-content: space-evenly;
}

.dot 
{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.projects__carousel-btn
{
    background-color: var(--clr-enc);
    color: var(--clr-100);
    border: none;
    border-radius: 5px;
} 

.slide-info
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.projects__information-title, .projects__information-git
{
    text-decoration: none;
    color: var(--clr-100);
}

.projects__information-title
{
    text-align: center;
    font-size: var(--fs-600);
}

.projects__information-comment
{
    margin-top: 2rem;
    max-width: 45ch;
}

.projects__information-languages
{
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: flex-start;
    font-size: var(--fs-300);
}

.projects__information-languages > *
{
    border-bottom: 2px solid var(--clr-accent);
}

.projects__information-git
{
    font-size: var(--fs-300);
}

@media (min-width: 30rem) 
{
    .projects__information-img
    {
      max-width: 24rem;
    }  
}

@media (min-width: 60rem) {
    .projects
    {
        flex-direction: row;
    }

    .projects__information-img
    {
        max-width: 28rem;
    }

    .projects__information-title
    {
        text-align: start;
    }
}

/*
* contact
*/

/*

@media (min-width: 60rem) {
    .contact-spaceman
    {
        justify-content: space-evenly;
    }

    .hidden
    {
        color: var(--clr-900);
        display: none;
    }
} */

.hidden
{
    display: none;
}

.contact-spaceman
{
    padding: 2rem;
}

.contact
{
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact__title
{
  font-size: var(--fs-400);
}

.contact__info
{
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact__personalia-info
{
  display: block;
  font-size: var(--fs-400);
  color: var(--clr-100);
  text-decoration: none;
}

.contact__socials
{
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.contact__socials-links
{
    margin: 0;
}

.fa-brands
{
    color: var(--clr-100);
    font-size: var(--fs-500);
}

.fa-solid
{
  margin-right: 0.5rem;
}

@media (min-width: 60rem) {
  .contact
  {
    padding-right: 15rem;
  }
}

/*# sourceMappingURL=main.css.map*/